.loginbox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(231, 100, 13, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(219, 140, 43, 0.6);
  border-radius: 10px;
}

.loginbox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(153, 17, 137);
  text-align: center;
}

.loginbox .user_box {
  position: relative;
}

.loginbox .user_box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(26, 2, 2);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(14, 1, 1);
  outline: none;
  background: transparent;
}

.loginbox .btn {
  text-align: center;
  color: dodgerblue;
}

p {
  text-align: center;
}
