.loginbox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(231, 100, 13, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(219, 140, 43, 0.6);
  border-radius: 10px;
}

.loginbox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(153, 17, 137);
  text-align: center;
}

.loginbox .user_box {
  position: relative;
}

.loginbox .user_box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(26, 2, 2);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(14, 1, 1);
  outline: none;
  background: transparent;
}

.loginbox .btn{
    text-align: center;
    color:dodgerblue;
}

p{
    text-align: center;
}

/* .loginbox .user_box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
} */

/* .loginbox .user-box input:focus ~ label,
.loginbox .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
} */

/* .loginbox form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
} */

/* .loginbox a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
} */

/* .loginbox a span {
  position: absolute;
  display: block;
} */
